*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    color: black;
    background-color: azure;
    font-family:  Arial, Helvetica, sans-serif;
}

   header {
    display: flex;
     justify-content: space-between;
    align-items: center;

    color: azure;
    background-color: blue;
    padding: 20px;
}


.navigation{
    display: flex;
    gap: 20px;
}

#hero{
    background-color: aliceblue;
    text-align: center;
    padding: 100px 0;
}

h1{
    font-size: 48px;
    font-weight: 400;
}

h2{
    font-size: 35px;
    margin-bottom: 20px;
}

#about{
    color: rgb(46, 34, 37);
    background-color: bisque;
    padding: 50px 20px;
}

#projects{
    background-color:cadetblue;
    padding: 50px 20px;
}

.projects-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card{
    background-color: lightgray;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 300px;
}

#contacts{
    padding: 50px 20px;
}

.contacts-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-card{
    padding: 10px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 12px;
}

footer{
    color: azure;
    background-color: blue;
    padding: 20px;
}


